/* ----- Scroll To Top Fixed Button ----- */

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    left: 40px;
    background-color: #a0d8d365; /* Քո ցանկալի ֆոն */
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    transition: transform 0.3s, background 0.3s;
    z-index: 9999;
  }
  
  .scroll-to-top:hover {
    transform: scale(1.1);
    background-color:#55a39d; /* ավելի մուգ hover */
  }
  